  .slides {
    display: none;
  }

  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .prev-next {
    display: none;
}

  .thumbnail {
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .thumbnail:hover {
    opacity: 0.5;
    box-shadow: 0px 0px 0px 2px var(--Orange);
  }
  
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  @media(max-width:920px) {
    .gallery-product img{
      max-width: fit-content;
  }
  }